@import "/styles/light.css";
@import "/styles/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-on-background;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
}

body {
  --md-sys-color-on-primary: rgb(255 255 255);
}

@media (prefers-color-scheme: dark) {
  body {
    --md-sys-color-primary: rgb(177 209 138);
    --md-sys-color-on-primary: rgb(16 32 0);
  }
} */
